//colors


$colorSidebar:#5B605F; //panel boczny, nawigacja
$colorHeader:#4a4a49; //nagłówek, , kolor tekstu w kolumnach
$colorChanges:#FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$colorBackground:#FFFFFA; // kolor tła ekranów
$colorInfo:#3498DB;// kolor wiadomości typu info
$colorWarning:#FFB03B; // kolor wiadomości typu warning
$colorSuccess:#468966; //kolor wiadomości typu success
$colorBin:#BD4932; // kolor ikony kosza
$colorText:#A1A194; //  kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji


//fonts

@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:300,400,700&display=swap');

//font-family: 'Open Sans', sans-serif;
//font-family: 'Charmonman', cursive;

